<!DOCTYPE html>
<!-- compulsory to give layout file name -->
<html lang="en">

<head>
    <title>IssueTracket</title>
    <!-- <link rel="icon" type="image/x-icon" sizes="16x16" href="facebook_icon-32-32.ico"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">

    <script src=" https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js">
    </script>
    <script src="https://kit.fontawesome.com/b3348ae33f.js" crossorigin="anonymous" li></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <meta name="description" content="Bootstrap.">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/layout.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>

    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <!-- will collect all css here from body only not from include-->
    <%- style %>

</head>

<body>
    <%- include('_header'); %>

        <div id="layout-body">
            <!-- <% if(flash.success && flash.success.length>0 ) {%>
                <h5>
                    <%= flash.success %>
                </h5>
                <% } %> -->


            <%- body %>



        </div>
        <%- script %>
            <!-- will collect all scripts hee -->
            <!-- noty msg -->
            <script>
             <% if (flash.success && flash.success.length > 0) {%>
                    new Noty({
                        theme: 'relax',
                        text: '<%= flash.success %>',
                        type: 'success',
                        layout: 'topCenter',
                        maxVisible: 500,
                        timeout: 1500
                    }).show();
                                
                <% } %>

                <% if (flash.error && flash.error.length > 0) {%>
                    new Noty({
                        theme: 'relax',
                        text: '<%= flash.error %>',
                        type: 'error',
                        layout: 'topCenter',
                        maxVisible: 500,
                        timeout: 1500
                    }).show();
                                
                <% } %>
            </script>

</body>


</html>